form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  form label {
    text-align: left;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  form input, form select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }

  form textarea {
    width: 100%;
    padding: 10px 17px;
    margin: 7px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    resize: none;
  }

  form button {
    background: #1b58c0;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
  }

  button{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  form p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    overflow-wrap: break-word;
    text-align: justify;
  }

